<p>pack : {{ description }}</p>
<table *ngIf="queues" class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Taille</th>
      <th scope="col">Entrant</th>
      <th scope="col">Sortant</th>
      <th scope="col">Consommateurs</th>
    </tr>
  </thead>
  <tbody>
    <app-queue *ngFor="let queue of queues"
            [name]="queue.Name"
            [size]="queue.QueueSize"
            [incoming]="queue.EnqueueCount"
            [out]="queue.DequeueCount"
            [client]="queue.ConsumerCount"></app-queue>
  </tbody>
</table>
